.calendar {
  &.card {
    justify-content: flex-start !important;
    h2 {
      margin-top: 1rem;
      margin-bottom: 0rem;
    }
  }
  .calendar-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 1rem;
    border: 1px solid var(--light-grey-color);

    > div {
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      &.head {
        aspect-ratio: auto;
        background-color: var(--light-grey-color);
      }

      &.holiday {
        > span {
          color: var(--red-color);
        }
      }

      &.wedding-date {
        position: relative;

        > span {
          z-index: 1;
        }

        > div.heart {
          width: 50%;
          height: 50%;
          background: var(--theme-bg-color);
          top: 35%;
          left: 25%;
          position: absolute;
          transform: rotate(45deg);
          z-index: 0;
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: -50%;
            left: 0%;
            border-radius: 50%;
            background: var(--theme-bg-color);
          }
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: -50%;
            border-radius: 50%;
            background: var(--theme-bg-color);
          }
        }
      }
    }
  }

  .countdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";

    .countdown {
      display: grid;
      width: 15rem;
      grid-template-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
      align-items: center;
      * {
        margin: 0 0.1rem;
      }
      .count {
        opacity: 0.8;
        font-weight: bold;
        font-size: 1.2rem;
      }
      .unit {
        font-weight: bold;
        font-size: 0.6rem;
        opacity: 0.5;
      }
    }

    .message {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      font-family: 'Poppins';
      font-size: 1rem;
      text-transform: uppercase;
      .d-day {
        color: var(--theme-color);
        font-weight: bold;
        font-size: 1.5rem;
        padding: 0 0.2rem;
      }
    }
  }

  .info {
    font-family: "Poppins";
    margin-bottom: 0.3rem;
    opacity: 0.7;
    text-transform: capitalize;
  }
}
